# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Build
build/
dist/
*.egg-info/

# OS
.DS_Store

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# Data and outputs
data/raw/*
data/processed/*
results/figures/*
results/tables/*
results/logs/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!results/figures/.gitkeep
!results/tables/.gitkeep
!results/logs/.gitkeep
